parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/OmniEventMakeCommand.php

		-
			message: '#^Trait PDPhilip\\OmniEvent\\Eventable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Eventable.php
